<header class="container-fluid d-flex align-items-center flex-shrink-0 header bg-dark h-12">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="w-100 d-flex justify-content-between">
      <div class="w-25 justify-content-start d-flex">
        <h1>SubKuch Logo</h1>
      </div>
    </div>
  </div>
</header> 
<div>
  <div class="position-relative w-100">
    <img src="https://images.pexels.com/photos/920570/pexels-photo-920570.jpeg" class="w-100 sign__slider">
    <div class="position-absolute w-100 d-flex justify-content-center align-items-center sign__form ">
      <div class="card p-2 bg-light" style="width: 28rem;">
        <div class="card-body">
          <h3 class="card-title text-dark w-100 d-flex justify-content-center font-weight-bold">Become Our</h3>
          <h3 class="card-title text-dark w-100 d-flex justify-content-center font-weight-bold">Partner</h3>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Your City">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Setup Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Address">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="First Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Last Name">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Contact Number">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Email">
          </div>
          <div class="form-group">
            <input type="text" class="form-control sign__input" id="formGroupExampleInput" placeholder="Type of Buisness">
          </div>
          <button type="button" class="sign__register__button w-50">Register Now</button>
        </div>
      </div>
    </div>
  </div>
<!-- About Section -->
<div class="position-relative w-100 d-flex bg-white justify-content-center sign__about">
  <div>
      <i class="fas fa-info-circle fa-2x text-dark sign__about__icon "></i>
      <h2 class="h2 text-dark w-25 sign__about__heading">About Us</h2>
      <p class="lead w-50 sign__about__text text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, tempora, nostrum nemo optio accusamus 
          illum maxime consectetur nulla voluptatem autem beatae, facere blanditiis similique expedita eveniet 
          officiis repellat.
        </p>
  </div>
</div>

<div>

<div class="position-relative w-100">
  <img src="https://images.pexels.com/photos/1296543/pexels-photo-1296543.jpeg" class="w-100 sign__slider">
  <div class="position-absolute w-100 d-flex justify-content-center align-items-center sign__section3 ">
    <div class="position-absolute w-50 mx-5 sign__welcome">
      <h1 class="sign__section3__text1 w-100">Interested?</h1>
      <h1 class="text-white sign__section3__text2 w-100">Become Our Partners</h1>
      <h1 class="text-white sign__section3__text2 w-100">& Increase Your Revenue</h1>
      <button type="button" class="sign__section3__button w-50">Register Now</button>
    </div>
  </div>
  </div>
</div>

<footer class="page-footer font-small py-5 bg-dark">
  <div class="row">
    <div class="col-md-2 offset-md-5 offset-sm-4 col-sm-4">
    <i class="fab fa-facebook-f fa-2x w-25"></i>
    <i class="fab fa-whatsapp fa-2x w-25"></i>
    <i class="fab fa-instagram fa-2x w-25"></i>
    <i class="fab fa-twitter fa-2x"></i>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-3 offset-md-5 ">
      <div class="footer-copyright text-left">© 2018 Copyright:
        <a href="subquch.com"> www.subQuch.com</a>
      </div>
    </div>
  </div>
  </footer>