@import "palette";
.col-size {
  width: 30%;
}

.content__min-height {
  height: 200px;
  width: 100%;
}

.ng-select.custom__select {
  border: 0px;
  min-height: 0px;
  border-radius: 0;
  width: 230px;

  .ng-select-container {
    min-height: 32px;
    height: 32px;
  }
}

.is-button {
  height: 32px;
}

is-input-container {
  input[type="text"], input[type="number"] {
    &.login-form__input {
      width: 230px;
    }
  }
}

.is-input__label {
  margin-right: 10px;
}
.content-block {
  max-height: 380px;
  min-height: 200px;
  // overflow: auto;
  // overflow-x: hidden;
}

.col-action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.icon {
  cursor: pointer;
  &__save {
    color: $is-green;
  }

  &__remove {
    color: $is-red;
  }

  &__edit {
    color: $is-blue;
  }
}
