<div
  *ngFor="let tab of tabs; index as index; last as last; trackBy:trackByFn"
  #tooltips
  class="d-flex align-items-center tab"
  [class.tab--active]="tab.active"
  (click)="onTabClick(tab)">
  <div
    class="col px-3 py-2 d-flex justify-content-between align-items-center tab__content"
    [class.tab__content--dragging]="dragging && !last"
    [class.tab__content--over]="tab.over"
    (dragover)="onDragOver($event, tab)"
    (dragenter)="onDragEnter(tab)"
    (dragleave)="onDragLeave(tab)"
    (drop)="onDrop(tab)">
    {{ tab.title }}
    <span
      class="font-weight-normal tab__value"
      [class.d-none]="tab.value === undefined">
      {{ tab.value }}
    </span>
  </div>
</div>

<ng-template #tooltip>
  <div class="px-2 py-1 message">
    {{ tooltipMessage }}
  </div>
</ng-template>
