@import 'palette';

$drag-border: 2px dashed $df-blue;
$drag-border-transparent: 2px dashed transparent;

:host {
  position: relative;
  top: 1px;
  display: flex;
}

.tab {
  width: 120px;
  font-size: 12px;
  border-bottom: 1px solid transparent;
  cursor: pointer;

  &:first-child {
    .tab__content--dragging {
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-left: $drag-border;
    }
  }

  &:nth-last-child(2) {
    .tab__content--dragging {
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-right: $drag-border;
    }
  }

  &--active {
    font-weight: bold;
    border-bottom: 1px solid $df-blue;

    .tab__value {
      background: $df-blue;
      pointer-events: none;
    }
  }

  &__value {
    padding: 2px 5px 1px 4px;
    color: map-get($df-light, 1);
    background: map-get($df-light, 7);
    border-radius: 10px;
    pointer-events: none;
  }

  &__content {
    border: $drag-border-transparent;

    &--dragging {
      border-top: $drag-border;
      border-bottom: $drag-border;
      background: rgba($df-blue, 0.05);
    }

    &--over {
      .tab__value {
        background: $df-blue;
      }

      background: rgba($df-blue, 0.25);
    }
  }
}

.message {
  font-size: 12.25px;
  color: map-get($df-light, 1);
  background: rgba($df-blue, 0.9);
  border-radius: 3px;

  &::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 5px solid rgba($df-blue, 0.9);
    transform: translateX(-50%);
  }
}
