@import 'palette';
.meal__icons {
  color: $is-blue;
  &__delete {
    color: $is-red;
  }
}
.meal__icons:hover {
  color: blue;
  cursor: pointer;
}

:host {
  .form-size {
    overflow: hidden;
    overflow-y: auto;
    max-height: 400px;
  }
  .col-form-label {
    text-align: right;
  }
}